.timeline-container {
    width: 100%;
    position: relative;
    margin-left: 10px;
    .timeline-item {
        padding: 0 30px 30px;
        position: relative;
        .timeline-icon {
            position: absolute;
            border: 2px solid rgba(240, 240, 240, 0.12);
            padding: 9px 7px;
            font-size: 12px;
            left: -17.5px;
            right: unset;
            top: 0px;
            border-radius: 50%;
            background: #151515;
            color: rgba(255, 255, 255, 0.5);
            z-index: 1;
        }
        &::after {
            content: '';
            position: absolute;
            border: 1px solid rgba(240, 240, 240, 0.12);
            top: 0;
            bottom: 0;
            left: 0;
        }
        &:last-child {
            padding: 0 30px;
        }
    }
    .timeline-subtitle {
        opacity: 0.8;
        font-weight: 400;
    }
    .timeline-content {
        font-weight: 300;
        font-size: 14px;
        opacity: 0.6;
        overflow: hidden;
    }
    .timeline-item-left {
        left: 0;
        padding-right: 30px;
    }
    .timeline-show-link {
        font-size: 12px;
        color: $snow-white;
    }
    .timeline-skills {
        margin: 0.5rem 0;
    }
    .projects {
        margin: 1rem 0;
        font-size: 13px;
        .project-title {
            font-size: 13px;
            text-transform: uppercase;
        }
    }
    .timeline-dates {
        font-size: 13px;
        opacity: 0.5;
        font-weight: 400;
    }
}