  
.home {
  max-width: 60%;
  span {
    display: block;
  }
  &__desc {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color:$snow-white-text;
    margin-bottom: 15px;
  }
  &__about {
    margin-bottom: 20px;
    color:$snow-white-tint;
    font-size: 20px;
    font-weight: 300;
  }
}

span.wave {
  animation-name: wave-animation;   
  animation-duration: 2.5s;         
  animation-iteration-count: 1;    
  transform-origin: 70% 70%;         
  display: inline-block;
  font-size: 3rem;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }  
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) } 
  100% { transform: rotate(  0.0deg) }
}

@media only screen and (max-width: 1023px) {
  .home {
    max-width: 100%;
  }
}