.skills-section {
  display: flex;
  color: $snow-white-text;
  .section {
    width: 100%;
  }
  .progress {
    height: 6px;
    margin-bottom: 30px;
    opacity: 0.7;
    background: #333030;
    .progress-bar {
      background: white;
    }
  }
  .progress-skill-title {
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
    display: flex;
    .skill-display {
      flex: 1;
    }
  }
}

.resume-title {
  margin: 2.5rem 0;
  letter-spacing: 1.3px;
  position: relative;
}

.resume-content {
  color: $snow-white-text;
}

.badge-secondary {
  color: $snow-white;
  background-color: transparent;
  font-weight: 300;
  border: 1px solid $snow-white;
  margin: 0 5px 5px 0;
}

.repos {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  .repo-link {
    color: unset;
    text-decoration: none;
  }
  .card-resume {
    background-color: rgb(32, 32, 32);
    padding: 20px;
    margin: 10px;
    width: calc((100% - 60px) / 3);
    .language {
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    h6 {
      margin: 1rem 0;
    }
    .description {
      font-size: 12px;
      opacity: 0.5;
      img {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .card-resume {
    width: 100% !important;
  }

  .skills-section {
    flex-wrap: wrap;
    .section {
      margin: 0 !important;
    }
  }
}
