$font-variable-name: 'Roboto Mono' !important;
$subheading-grey: #949495;
$snow-white: #FFF;
$snow-white-tint: rgba(255, 255, 255, 0.8);
$snow-white-text: rgba(255, 255, 255, 0.6);
$main-bg-dark: rgb(21, 21, 21);
$main-sidebar-dark:  rgba(32,32,34,1);